<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue-TodoMVC</title>
    <link rel="stylesheet" href="index.css">
    <script src="https:unpkg.com/director/build/director.js"></script>
    <style>[v-clock] {display:none;}</style>
</head>
<body>
    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <input class="new-todo"
            autofocus autocomplete="off"
            v-model="newTodo"
            placeholder="what are you planning to do?"
            @keyup.enter="addTodo" />
        </header>
        <section class="main" v-show="todos.length" v-cloak>
            <input class="toogle-all" type="checkbox" v-model="allDone">
            <ul class="todo-list">
                <li v-for="todo in filteredTodos"
                    class="todo"
                    :key="todo.id"
                    :class="{ completed: todo.completed,editing:todo == editedTodo }" >
                    <div class="view">
                        <input class="toogle" type="checkbox" v-model="todo.completed">
                        <label @dbclick="editTodo(todo)">{{ todo.title }}</label>
                        <button class="destroy" @click="removeTodo(todo)"></button>
                    </div>
                    <input class="edit" type="text"
                           v-model="todo.title"
                           v-rodo-focus="todo == editedTodo"
                           @blur="doneEdit(todo)"
                           @keyup.enter="doneEdit(todo)"
                           @keyup-esc="cancelEdit(todo)" >
                </li>
            </ul>
        </section>
        <footer class="footer" v-show="todos.length" v-cloak>
            <span class="todo-count">
                <strong>{{ remaining }}</strong>{{ remaining|pluralize }} left
            </span>
            <ul class="filters">
                <li><a href="#/all" :class="{ selected:visibility == 'all' }">All</a></li>
                <li><a href="#/active" :class="{ selected:visibility == 'active' }">Active</a></li>
                <li><a href="#/completed" :class="{ selected:visibility == 'compelted' }"}>Completed</a></li>
                <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
                    Clear Completed
                </button>
            </ul>
        </footer>
    </section>
</body>
<script src="../../dist/vue-2.0.js"></script>
<script src="app.js"></script>
</html>